<!DOCTYPE html>
<html>
    <head>
        <title>InvenStory</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing_new.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

			
			<div class="header">
				<div class="header_main">
					<a href="/products"><h1>Never lose <br><st>ANYTHING</st> again</h1></a>
					<div class="header_sub">
					<p><br>With InvenStory AI, your phone camera can <br>scan any item and add it to an intelligent digital inventory.</p>
					</div>
					<div class="header_space">
					<p>
						<br>
					</p>	
					</div>
				</div>
			</div>
		
			<div class="container">
				<div class="slide_img">
					<img src="/images/sized.png" alt="Image 1">
				</div>
				<div class="slide_txt">
					<h1>Slide 1</h1>
					<p>Text for slide 1 goes here. Let's add some more text and see if this changes the behavior of the flex so we will just add enough that it looks like some sort of product descritption.or slide 1 goes here. Let's </p>
				</div>
			</div>
			
			
			<div class="container">
				
				<div class="slide_txt">
					<h1>Slide 2</h1>
					<p>Text for slide 1 goes here. Let's add some more text and see if this changes the behavior of the flex so we will just add enough that it looks like some sort of product descritption.or slide 1 goes here. Let's add some more text and see if this changes the behavior of the flex so we will just add enough that it looks like some sort</p>
				</div>
				
				<div class="slide_img">
				<img src="/images/sized.png" alt="Image 2">
				</div>
			</div>
					
		
			<div class="container">
				<div class="slide_img">
				<img src="/images/sized.png" alt="Image 2">
				</div>
			<div class="slide_txt">
				<h1>Slide 3</h1>
				<p>Text for slide 1 goes here. Let's add some more text and see if this changes the behavior of the flex so we will just add enough that it looks like some sort of product descritption.or slide 1 goes here. Let's add some more text and see if this changes the behavior of the flex so we will just add enough that it looks like some sort</p>
				</div>
			</div>
			


<% include ../views/partials/footer %>